<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Maven Testing" thread-count="3" parallel="tests">

<test name="chromeTestCases">
	  <parameter name="browser" value="chrome" />
		<packages>
		     <package name="co.zoopla.testcases.*" />
		</packages>
	 </test>
</suite> <!-- Suite -->
